$theme-color : #00AB44;
.aboutSection{padding-left: 15px;margin-top: 50px;}
.aboutSection li{margin: 10px 0;list-style-type: disc;}
.NameWrap h3{margin: 0 0 10px;color: $theme-color;}
.NameWrap a{font-size: 14px;}
.aboutSection h2{text-transform: uppercase;color: $theme-color;}